@import "tailwindcss";

@theme inline {
  --font-roboto: var(--font-roboto);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}
